body{
	font-size: 16px;
	background-color: #FFFFFF;
	font-family: 'Oxygen',sans-serif;
	color: #808080;
}
#header-nav{
	border: 0;
	border-radius: 0;
	background-color: #800080;
}
.navbar-brand{
	padding-top: 25px;
	height: 80px;
}
.navbar-brand h1{
	font-family: 'Lora',serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	text-decoration: 1px 1px 1px #222;
	color: black;
	text-align: left;
	padding: 10px;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
#nav-list {
	border: 1px black;
	background-color: grey;
	margin-bottom: 0;
	margin-top: 0;
}
.list-bar{
	color: #FFFFFF;
	border: 1px black;
}
.list-bar a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.heading{
	color: black;
	font-weight: 1.4em;
	text-transform: uppercase;
	font-family: 'lora',serif;
	font-size: bold;
	line-height: .7;
}
.food-list{
	background-color: #800080;
	padding-right: 10px;
	color: black;
}
li{
	border: 1px black;
}