*{
	box-sizing: border-box;
}
h1{
	margin-bottom: 15px;
	text-align-last: center;
}
span{
	
	font-size: 18px;
	background-color: red;
	margin-bottom:0;
	/*margin-left: 10px
	margin-right: 10px;*/
	position: absolute;
	top:0;
	right:0;
<<<<<<< HEAD
	/*width: 20%;*/
	/*height: 25%;*/
=======
>>>>>>> 4b1fca4a4aa591a036f84d77fd423849b1195fbe
	text-align: right;
	margin-top: 0;
	border:1px solid black;
	margin-right: 0;
}
p{
	height: 180px;
	/*width: 150px;*/
	background-image: url(food.jpeg);
	border:1px solid black;
	color: black;
	font-weight: bold;
	font-family: Helvetica;
	/*background-color: grey;*/
	margin:10px;
	position: relative;
	margin-top:0;
	padding-top:15%;
	width: 90%:}
.row{
	width: 100%;
}
#pink{
background-color: yellow;
}
#orange{
	background-color: orange;
}

/*for large devices*/
@media(min-width: 1200px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float: left;
		/*border:1px solid green;*/
		/*background-color: grey;*/
		margin bottom:2px;
		
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.33%;
	}
	.col-lg-5{
		width: 41.66%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 75%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
}
/*for medium devices*/
@media(min-width: 950px) and (max-width:1199px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float: left;
		/*border:1px solid green;*/
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
	}
}
